#mainpage {
    /*background-color: red; */
    height: 1150px;
    width: 100%;
}

#attend {
    position: absolute;
    background-color: blue;
    color: white;
    text-indent: 1%;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 95%;
    height: fit-content;
    z-index: 1;
}

#less {
    position: absolute;
    background-color: black;
    color: white;
    text-indent: 1%;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 95%;
    height: fit-content;
    z-index: 1;
}

#stud {
    position: absolute;
    background-color: orange;
    color: white;
    text-indent: 1%;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 95%;
    height: fit-content;
    z-index: 1;
    border-color: black;
    border-style: groove;
    border-width: 1px;
}

#class {
    position: absolute;
    background-color: rgb(196, 238, 196);
    color: black;
    text-indent: 1%;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 95%;
    height: fit-content;
    z-index: 1;
    border-color: black;
    border-style: groove;
    border-width: 1px;
}

button {
    margin-left: 10px;
    margin-top: 10px;
}

#classes,
#students,
#lessons,
#attendances {
    margin-left: 10px;
    font-size: 30px;
}

li {
    background-color: rgb(196, 238, 196);
    color: black;
    border-bottom-color: lightslategray;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-style: groove;
    border-width: 1px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#pages {
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: lightgrey;
    border-style: groove;
    border-bottom-width: 1px;
    padding-bottom: 3px;
    text-align: center;
}

#buttoncl,
#buttonst,
#buttonle,
#buttonatt {
    background-color: white;
    border-color: transparent;
    color: lightgreen;
    margin-right: 40px;
    font-size: 20px;
}

#buttoncl:hover,
#buttonst:hover,
#buttonle:hover,
#buttonatt:hover {
    background-color: green;
}

#selectst{
    margin-left: 10px;
    width: 700px;
    padding-top: 2px;
    padding-bottom: 2px;
}