body {
    margin-top: 1cm;
    background-color: white;
}

div {
    margin-bottom: 0.2cm;
}

.bordered {
    background-color: white;
    border: 2px solid black;
    height: 260px;
    text-align: center;
}